# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# Kotlin files
[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120

# XML files (including build.gradle.kts, pom.xml)
[*.{xml,kts}]
indent_style = space
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Python files (for quantum-analysis)
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

# SQL files
[*.sql]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2

# GitHub Actions
[.github/workflows/*.{yml,yaml}]
indent_style = space
indent_size = 2